@import "tailwindcss/utilities.css";

@plugin "daisyui" {
  themes: false;
  root: "#dsh-companion";
  prefix: cmp-;
  include: button, avatar, chat, drawer, status, textarea, loading, skeleton, file-input, modal, range;
  exclude: properties, rootcolor, scrollbar, rootscrolllock, rootscrollgutter, svg;
  logs: false;
}
